*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  place-content: center;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}


form{
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  padding: 5px 5px;
}

.search-bar{
  height: 5vh;
  width: 50%;
  margin-right: 0.51rem;
  border: none;
  outline: none;
}

.search-button{
  width: 5rem;
}

.recipes{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
border: 2px solid black;
  width: 100vw;
}


ul{
  list-style: none;
}